# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary
*.test

# Output
dist/
out/

# Dependency directories (optional if using modules)
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log
