version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: go_clean_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: clean_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
